*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Protest Guerrilla', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  url(https://images.unsplash.com/photo-1476610182048-b716b8518aae?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcwNzg3MTc4Mw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920) no-repeat center/cover;
}

.maior{ /*caixa grande e seus itens*/
    width: 80vw;
    max-width: 500px;
    background-color: black;
    opacity: 0.75;
    padding: 20px;
    border-radius: 25px;
}

input{
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(33, 30, 30, 0.922);
    color: white;
    width: 75%;
}

button{
    float: right;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(33, 30, 30, 0.922);
    cursor: pointer;
}

.lupa{
    width: 25px;
}

.media{ /*caixa media e seus itens*/
    margin-top: 20px;
}

.cidade{
    color: white;
    font-size: 25px;
    font-weight: 150;
}

.temperatura{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.menor{ /*caixa menor e seus itens*/
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.legenda{
    color: white;
    margin-left: 20px;
}

.umidade{
    color: white;
    margin-top: 10px;
}